body{
    flex-direction: column;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    width: 100%;
    display: flex;
    float: left;
}
nav a {
    font-family: Raleway, sans-serif;
    float: left;
    flex-direction: row;
    text-align: center;
    padding: 0.5em 1.1em;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
    margin-right: 0.1em;
    text-decoration: none;
    font-size: 17px;
    color: #1a1a1a;
}

#m{
     background: rgba(180, 180, 180, 0.74);
}

nav a:hover {
    background: rgb(220, 220, 220);
}

.img{
    height: max-content;
    position: center;;
    display: flex;
    width: 400px;
    height: 300px;
}
.card {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    color: #111111;
    background: #ffffff;
    text-align: left;
    position: relative;
    flex-direction: column;
    display: flex;
    flex: 1;
    max-width: 100%;
    justify-content: flex-end;
    padding: 26px;
    border-radius: 9px;
    margin: 30px;
    width: 300px;
    float: left;
}
.row1{
    display: flex;
    flex-direction: row;
}
.row2{
    display: flex;
    flex-direction: row;
}
.card-title{
    font-family: Montserrat, sans-serif;
    font-size: medium;
}
.card-info{
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: medium;
    color: #1a1a1a;
    text-align: center;
}
.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 96px;
    padding-top: 132px;
}
.subtitle{
    margin-bottom: 157px;
}
#first{
    font-family: Montserrat, sans-serif;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    font-size: large;
}
.sect1{
    position: relative;
    background: url("images/back1.jpg") 50% 56.22%;
    overflow: hidden;
    background-size: cover;
    height: 50%;
    width: 100%;
    margin-top: 52px;
}
.section2{
    position: relative;
    background: url("images/back2.jpg") 50% 50%;
    overflow: hidden;
    background-size: cover;
    height: 65%;
    width: 100%;

}
.sect2{
    font-family: Montserrat, sans-serif;
    flex-direction: row;
    text-align: left;
    display: flex;
    color: #ffffff;
    justify-content: center;
    word-wrap: break-word;
    margin-top: 8rem;
}
.txtsect{
    padding-right: 20px;
    position: relative;
    display: block;
    text-align: left;
}
.img1{
    box-sizing: border-box;
    position: relative;
    display: flex;
}
.title2{
    font-family: Montserrat, sans-serif;
    margin: 20px 0 0 20px;
    font-size: 2.25rem;
    position: relative;
}
.title-info2{
    height: 399px;
    width: 320px;
    margin: 63px 78px 0 73px;
    font-size: 1rem;
    padding-bottom: 0;
}
.sect3{
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    background: url("images/back3.jpg");
    flex-direction: column;
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;
}

@media (min-width: 450px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .card {
        width: 33.333%;
    }
}

.btn{
    background: #da4280;
    color: white;
    font-family: Raleway, sans-serif;
    text-align: center;
    width: min-content;
    justify-content: center;
    padding: 10px 10px 8px 8px;
    text-decoration: none;
    display: flex;
    margin: 0 0 0.1rem 40%;
}
/*@media (min-width: 1200px) {*/
/*    .u-hidden-xl {*/
/*        display: none !important;*/
/*    }*/
/*}*/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
/*    .u-hidden-lg {*/
/*        display: none !important;*/
/*    }*/
/*}*/
/*@media (min-width: 768px) and (max-width: 991px) {*/
/*    .u-hidden-md {*/
/*        display: none !important;*/
/*    }*/
/*}*/
/*@media (min-width: 576px) and (max-width: 767px) {*/
/*    .u-hidden-sm {*/
/*        display: none !important;*/
/*    }*/
/*}*/
/*@media (max-width: 575px) {*/
/*    .u-hidden-xs {*/
/*        display: none !important;*/
/*    }*/
/*}*/
